---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Music from '../components/Music.astro';
import Video from '../components/Video.astro';
import Tourdates from '../components/Tourdates.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Music />
    <Video />
    <Tourdates />
    <Contact />
  </main>
  <Footer />
</Layout>
